<!--Results for a round of games-->
<div>
    <div id="gameDiv" *ngFor="let g of games" (click)="onSelect(g)">
        <div id="gameData">
            <p>{{g.hteam}}</p>
        </div>
        <div id="gameData">
            <p>{{g.date | date:'dd/MM/YYYY'}}</p>
            <p>{{g.hscore}}-{{g.ascore}}</p>
            <p>{{g.venue}}</p>
        </div>
        <div id="gameData">
            <p>{{g.ateam}}</p>
        </div>  
    </div>
    <app-tip *ngIf="selectedGame !== undefined && selectedGame !== null" [game]="selectedGame"></app-tip>
    <br><br>
</div>