<!--Results for a round of games-->
<div>
    <aside id='tipAside'>
        <h3><b>Game Tips</b></h3>
        <app-tip *ngIf="selectedGame !== undefined && selectedGame !== null" [game]="selectedGame"></app-tip>
    </aside>
    <div [ngClass]="{'selected': gameId == g.id }" id="gameDiv" *ngFor="let g of games" (click)="onSelect(g)">
        <div [ngClass]="{'selected': gameId == g.id }" id="gameData">
            <h3>{{g.hteam}}</h3>
        </div>
        <div [ngClass]="{'selected': gameId == g.id }" id="gameData">
            <p><b>{{g.date | date:'dd/MM/YYYY'}}</b></p>
            <h3>{{g.hscore}}-{{g.ascore}}</h3>
            <p><b>{{g.venue}}</b></p>
        </div>
        <div [ngClass]="{'selected': gameId == g.id }" id="gameData">
            <h3>{{g.ateam}}</h3>
        </div>
    </div>
    
</div>