#teamDiv
{
    height: 130px;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

.logoNav
{
    display: inline;
}

.teamLogo 
{
    
    padding: 10px;
    margin: 10px;
    width: 50px;
    height: 50px;
}

.selected
{
    border-style: solid;
    background-color: rgb(236, 236, 236);
}